.vscode/*
build/*
**/.vs
**/Debug/*
**/x64/*
**/*.pid
**/*.log
**/*.o
**/*.elf
**/archives/*
*.sdf
*.suo
**/PS3_Debug/*
**/PS3_Release/*
PS3_Debug/*
PS3_Release/*
bin/*
bin-int/*
examples/bin/*
examples/bin-int/*
*.opensdf
.vs/*
